<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btl_qlgv_bm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_QLGV_BM">
        <activity
            android:name=".BoMon_Activity.ActivityAddBoMon"
            android:exported="true" />
        <activity
            android:name=".BoMon_Activity.ActivityUpdateBoMon"
            android:exported="true" />
        <activity
            android:name=".ActivityBoMon"
            android:exported="true" />
        <activity
            android:name=".GiaoVien_Activity.ActivityAddGiaoVien"
            android:exported="true" />
        <activity
            android:name=".GiaoVien_Activity.ActivityUpdateGiaoVien"
            android:exported="true" />
        <activity
            android:name=".ActivityGiaoVien"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>